.layout1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 100px;
    background-color: white;
    height: 1000px;
    width: 600px;
    border: solid 3px black;


 .layout2{
    display:inline-block;
    position:relative;
    margin-top: 3%;
    margin-left: 20px;
    margin-bottom: 25px;
    margin-right: 400px;
    background-color: brown;
    height: 90%;
    width: 30%;
    border:solid 3px black ;
    

 
 .layout21{
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 50%;
    margin-right: 20%;
    background-color: red;
    height: 40%;
    width: 80%;
    border:solid 3px black ;
    
}

.layout22{
    margin-top: 30%;
    margin-left: 10%;
    height:40%;
    width: 80%;
    margin-right: 10%;
    margin-bottom: 40%;
    background-color: skyblue;
    border: solid 3px black; 
}
}

.layout3{
    display:inline;
    position:relative;
    top:-59em;
    position:relative;
    margin-left:  210px; 
    margin-top: -200px;
    margin-bottom: 25px;
    margin-right: 400px;
    background-color:yellow;
    height: 90%;
    width: 30%;
    border: solid 3px black;
    margin-block-start: 10px;
    display:inline-block;

.layout31{
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 50%;
    margin-right: 20%;
    background-color: black;
    height: 40%;
    width: 80%;
    border:solid 3px black ;
    
}

.layout32{
    margin-top: 30%;
    margin-left: 10%;
    height:40%;
    width: 80%;
    margin-right: 10%;
    margin-bottom: 40%;
    background-color: black;
    border: solid 3px black; 
}
}

.layout4{
    display:inline;
    position:relative;
    top:-116em;
    height: 90%;
    margin-left: 400px;
    margin-right: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
    width:30%;
    border: solid 3px black;
    background-color: brown;
    display: inline-block;

.layout41{
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 50%;
    margin-right: 20%;
    background-color: red;
    height: 40%;
    width: 80%;
    border:solid 3px black ;
    
}

.layout42{
    margin-top: 30%;
    margin-left: 10%;
    height:40%;
    width: 80%;
    margin-right: 10%;
    margin-bottom: 40%;
    background-color: skyblue;
    border: solid 3px black; 
}
}
}

